<h1>BUENAS NOTICIAS</h1>
<br>
<h2>CONTEXTO</h2><br>
<p>La mayoría de noticias que recibimos todos los días son negativas desde diferentes medios de
comunicación tradicionales como la televisión o la radio, pasando por las redes sociales. Tener este tipo
de noticias desde tan temprano podría volverse un mal hábito que afecte la salud mental y física
debido a su adictividad cómo lo explican en el artículo “El ‘oscuro’ hábito de consumir malas noticias
compulsivamente (y cómo podemos atajarlo)” de la BBC lo cuál muchos de nosotros somos propensos
a caer </p><br>
<h2>PROBLEMA</h2>
No existe una plataforma que presente solamente noticias positivas para contrarrestar el doomscrolling
SOLUCIÓN
Desarrollar una aplicación que permita cargar noticias positivas según la siguiente tabla:Para poder agregar una carátula a las noticias, se deberá poder almacenar un número que
identifique el tipo de noticia de la siguiente manera
1.Deportes
2.Farándula
3.Nacional
4.Internacional
5.Política
Las noticias cargadas deberán servir como puentes para poder ir a leer la noticia completa en la página
que se publicó, por lo que debe tener una manera de dar clic en el link cargado previamente, ya sea en
un texto, una imágen o una tarjeta.</p>