<h1>The Most Positive News</h1>
<section class="contents">
  <div class="card" style="width: 16rem">
  <a href="/">
    <img src="../../assets/deportes.jpeg" class="card-img-top" alt="...">
  </a>
    <div class="card-body">
      <p class="card-text">Sport</p>
    </div>
  </div>
  <div class="card" style="width: 16rem;">
    <a href="/">
     <img src="../../assets/farandula.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <p class="card-text">Entertainment</p>
    </div>
  </div>
  <div class="card" style="width: 16rem;">
  <a href="/">
    <img src="../../assets/nacional.png" class="card-img-top" alt="...">
  </a>
    <div class="card-body">
      <p class="card-text">National</p>
    </div>
  </div>
  <div class="card" style="width: 16rem;">
  <a href="/">
    <img src="../../assets/Internacional.jpeg" class="card-img-top" alt="...">
  </a>
    <div class="card-body">
      <p class="card-text">Iternational</p>
    </div>
  </div>
  <div class="card" style="width: 16rem;">
  <a href="/">
    <img src="../../assets/politica.webp" class="card-img-top" alt="...">
  </a>
    <div class="card-body">
      <p class="card-text">Politics</p>
    </div>
  </div>
</section>