html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    background-image: url('../assets/noticias.webp');
    background-size: cover;

}
h1 {
    font-size: 3em;
    font-weight: bold;
    text-align:center;
}
.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    gap: 20px;
}
.card img {
    height: 230px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.footer a {
    color: black;;
    margin-right: 50px;
}
