
<nav class="container">
  <ul>
  <%= link_to "Positive News",  pages_index_path %>
  </ul>
  <ul>
    <%= link_to "Home",  pages_index_path, class: 'nav-bar' %>
    <%= link_to "Form",  pages_form_path, class: 'nav-bar' %>
    
  </ul>
</nav>